/**
 * @name         Fix New Discord Experiment Theme
 * @namespace    OldDiscordTheme
 * @description  This theme was created to backup old discord theme
 * @author       NiceL
 * @version      0.7
 * @source	 https://raw.githubusercontent.com/N1ceL/FixDiscordExperimentTheme/main/FixDiscordExperiment.theme.css
**/


@import url("https://raw.githubusercontent.com/N1ceL/FixDiscordExperimentTheme/main/FixDiscordExperiment.theme.css");


/* Fix ugly purple colors*/

/*
.theme-dark, .theme-light {
    --text-warning: #faa61a;
    --text-danger: #ed4245;
    --info-positive-background: rgba(59,165,92,0.1);
    --info-positive-foreground: #3ba55c;
    --info-warning-background: rgba(250,166,26,0.1);
    --info-warning-foreground: #faa61a;
    --info-danger-background: rgba(237,66,69,0.1);
    --info-danger-foreground: #ed4245;
    --status-positive-background: #3ba55c;
    --status-positive-text: #fff;
    --status-warning-background: #faa61a;
    --status-danger-background: #ed4245;
    --status-danger-text: #fff;
    --focus-primary: #00b0f4;
}

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --text-positive: #4fdc7b;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-secondary-alt: #292b2f;
    --background-tertiary: #202225;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-danger-text: #fff;
    --info-help-background: rgba(0,176,244,0.1);
    --info-help-foreground: #00b0f4;
    --info-help-text: #fff;
    --status-warning-text: #000;
    --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: #2e3338;
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --control-brand-foreground: #a5b3e7;
    --control-brand-foreground-new: #949cf7;
    --background-mentioned: rgba(250,166,26,0.1);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --channels-default: #8e9297;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #40444b;
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}
*/

.newBrand,
html.newBrand
{
	--brand-experiment-100:#f8f9fd;
	--brand-experiment-130:#f2f4fc;
	--brand-experiment-160:#ebeefa;
	--brand-experiment-200:#e3e7f8;
	--brand-experiment-230:#dae0f5;
	--brand-experiment-260:#d1d9f3;
	--brand-experiment-300:#c7d0f0;
	--brand-experiment-330:#b5c1ec;
	--brand-experiment-360:#a5b3e7;
	--brand-experiment-400:#8ea1e1;
	--brand-experiment-430:#869adf;
	--brand-experiment-460:#7d92dd;
	--brand-experiment:#7289da;
	--brand-experiment-500:#7289da;
	--brand-experiment-530:#687dc6;
	--brand-experiment-560:#5c6fb1;
	--brand-experiment-600:#4e5d94;
	--brand-experiment-630:#435180;
	--brand-experiment-660:#3b4770;
	--brand-experiment-700:#2e3757;
	--brand-experiment-730:#2b3352;
	--brand-experiment-760:#272f4b;
	--brand-experiment-800:#222941;
	--brand-experiment-830:#1a2032;
	--brand-experiment-860:#111521;
	--brand-experiment-900:#06070b;
	--brand-experiment-05a:rgba(114,137,218,0.05);
	--brand-experiment-10a:rgba(114,137,218,0.1);
	--brand-experiment-15a:rgba(114,137,218,0.15);
	--brand-experiment-20a:rgba(114,137,218,0.2);
	--brand-experiment-25a:rgba(114,137,218,0.25);
	--brand-experiment-30a:rgba(114,137,218,0.3);
	--brand-experiment-35a:rgba(114,137,218,0.35);
	--brand-experiment-40a:rgba(114,137,218,0.4);
	--brand-experiment-45a:rgba(114,137,218,0.45);
	--brand-experiment-50a:rgba(114,137,218,0.5);
	--brand-experiment-55a:rgba(114,137,218,0.55);
	--brand-experiment-60a:rgba(114,137,218,0.6);
	--brand-experiment-65a:rgba(114,137,218,0.65);
	--brand-experiment-70a:rgba(114,137,218,0.7);
	--brand-experiment-75a:rgba(114,137,218,0.75);
	--brand-experiment-80a:rgba(114,137,218,0.8);
	--brand-experiment-85a:rgba(114,137,218,0.85);
	--brand-experiment-90a:rgba(114,137,218,0.9);
	--brand-experiment-95a:rgba(114,137,218,0.95);
	--font-display: Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.theme-dark {
	/*banners fix*/
	--background-floating: #27292d;
}

/* Fix ugly reactions style*/

/*.reaction-1hd86g 
{
	background: rgba(0,0,0,0.08);
	border: 0;
}
.reaction-1hd86g.reactionMe-wv5HKu 
{
	background: rgba(114,137,218,0.1);
	border: 0;
}*/

.reaction-1hd86g 
{
	border-radius: .2rem;
	background: #71778222;
	border: 0;
}
.reaction-1hd86g:hover
{
	background: #71778233;
	border: 0;
}

.reaction-1hd86g.reactionMe-wv5HKu 
{
	background: #6375b044;
	border: 0;
}
.reaction-1hd86g.reactionMe-wv5HKu:hover
{
	background: #6375b055;
	border: 0;
}
.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
	color: var(--brand-experiment-400);
}

/* Fix ugly reactions position (test, im not sure about stable)*/

.container-1ov-mD {
	background-color: var(--background-primary);
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 72px;
	margin-top: 2px;
	margin-left: -72px;
	margin-right: -48px;
	margin-bottom: -2px;
}

/*.message-2qnXI6.cozyMessage-3V1Y8y.mentioned-xhSam7.groupStart-23k01U.wrapper-2a6GCs.cozy-3raOZG.zalgo-jN1Ica:hover .container-1ov-mD {
	background-color: #32353B;
}
.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U.wrapper-2a6GCs.cozy-3raOZG.zalgo-jN1Ica:hover .container-1ov-mD {
	background-color: #32353B;
}
.message-2qnXI6.cozyMessage-3V1Y8y.wrapper-2a6GCs.cozy-3raOZG.zalgo-jN1Ica:hover .container-1ov-mD {
	background-color: #32353B;
}*/
.zalgo-jN1Ica:hover .container-1ov-mD {
	background-color: #32353B;
}

/* Fix ugly tags style*/

.theme-dark
.wrapper-3WhCwL
{
	color: var(--brand-experiment);
	background: var(--brand-experiment-15a);
}
.theme-dark
.wrapper-3WhCwL:hover
{
	background: var(--brand-experiment-25a);
}

/* Fix ugly logo*/

.homeIcon-FuNwkv {
    color: transparent;
    width: 26px;
    height: 26px;
    background: url(https://i.imgur.com/GbripRZ.png);
}


/* Fix ugly name*/

.wordmark-2iDDfm {
    color: transparent;
    margin-top: 2px;
    margin-left: 4px;
    width: 46px;
    height: 14px;
    background: url(https://i.imgur.com/cumMfHG.png);
}


/* Fix profile banner */

.profileBanner-33-uE1.banner-2QYc2d {
	background-color: var(--background-tertiary) !important;
}
.userPopout-3XzG_A {
	width: 250px !important;
}
.profileBadges-1dm1_q {
	display: none;
}
.headerText-2WJ44e.userSelectText-1o1dQ7 {
    text-align: center;
}
.customStatus-3NamXG {
    text-align: center;
}
.avatarWrapperNormal-2tu8Ts.avatarWrapper-1-5NA0.avatarPositionNormal-1CZUPk {
	margin-left: 28%;
}
.headerTop-2y3V6H {
	background-color: var(--background-tertiary);
}
.avatar-22FtUu {
	border: 0;
	margin-top: 8px;
}
